{% extends "layout.html" %}
{% block body %}
<title>Amartya Dey - Experiences</title>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container-fluid d-flex justify-content-between align-items-center">

    <h1 class="logo me-auto me-lg-0"><a href="index">Amartya Dey</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a href="home">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="resume">Resume</a></li>
        <li><a class="active" href="experiences">Experiences</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    <div class="social-icons">
      <a href="https://www.linkedin.com/in/amartya-dey-24am/" class="linkedin"><img src="{{ url_for('static', filename = 'assets/icons/linkedin.png') }}" alt="LinkedIn"></a>
      <a href="https://github.com/AmartyaDey24" class="github"><img src="{{ url_for('static', filename = 'assets/icons/github.png') }}" alt="GitHub"></a>
      <a href="https://twitter.com/AmartyaDey" class="twitter"><img src="{{ url_for('static', filename = 'assets/icons/twitter.png') }}" alt="twitter"></a>
      <a href="https://www.instagram.com/___amartya__/" class="instagram"><img src="{{ url_for('static', filename = 'assets/icons/instagram.png') }}" alt="Instagram"></a>
      <a href="https://www.facebook.com/amartya.dey.96/" class="facebook"><img src="{{ url_for('static', filename = 'assets/icons/facebook.png') }}" alt="Facebook"></a>
    </div>

  </div>

</header><!-- End Header -->

  <main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Experiences</h2>
          <p>Throughout my 7 months of experience as a software developer, I have gained a deep understanding of software development principles and techniques. 
            I have worked on a variety of projects across multiple industries, collaborating with cross-functional teams to design and implement innovative software solutions.</p>
        </div>

          <!--TODO CARDS-->

      </div>
    </section><!-- End Services Section -->

  </main><!-- End #main -->

  {% endblock %}