{% extends "layout.html" %}
{% block body %}
<title>{{params["title"]}} - Experiences</title>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container-fluid d-flex justify-content-between align-items-center">

    <h1 class="logo me-auto me-lg-0"><a href="index">{{params["title"]}}</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a href="home">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="resume">Resume</a></li>
        <li><a class="active" href="experiences">Experiences</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    <div class="social-icons">
      <a href="{{params["linkedin_url"]}}" target="_blank" class="linkedin"><img src="{{ url_for('static', filename = 'assets/icons/linkedin.png') }}" alt="LinkedIn"></a>
      <a href="{{params["github_url"]}}" target="_blank" class="github"><img src="{{ url_for('static', filename = 'assets/icons/github.png') }}" alt="GitHub"></a>
      <a href="{{params["twitter_url"]}}" target="_blank" class="twitter"><img src="{{ url_for('static', filename = 'assets/icons/twitter.png') }}" alt="twitter"></a>
      <a href="{{params["instagram_url"]}}" target="_blank" class="instagram"><img src="{{ url_for('static', filename = 'assets/icons/instagram.png') }}" alt="Instagram"></a>
      <a href="{{params["facebook_url"]}}" target="_blank" class="facebook"><img src="{{ url_for('static', filename = 'assets/icons/facebook.png') }}" alt="Facebook"></a>
    </div>

  </div>

</header><!-- End Header -->

  <main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Experiences</h2>
          <p>Throughout my {{exp_months}} months of experience as a software developer, I have gained a deep understanding of software development principles and techniques. 
            I have worked on a variety of projects across multiple industries, collaborating with cross-functional teams to design and implement innovative software solutions.</p>
        </div>

        <style>
          .experience h3 {
              display: inline; 
          }

          .role {
              display: inline; 
              margin-left: 10px;
              font-size: 22px;
          }
          .experience {
              margin-bottom: 50px; /* Add margin to create spacing */
          }
        </style>

          <!-- Display experiences using a loop -->
          <div class="experiences-list">
            {% for experience in exp_data %}
            <div class="experience">
              <div class="company-info">
                <a href="{{ experience.linkedin_url }}" target="_blank">
                  <img src="{{ experience.logo_url }}" alt="{{ experience.company_name }} Logo" width="{{ experience.image_width }}" height="{{ experience.image_height }}">
                </a>
                <h3>
                    <span class="company-name">{{ experience.company_name }}</span> - <span class="role">{{ experience.role }}</span>
                </h3>
                
            </div>
                <p>{{ experience.start_date }} - {{ experience.end_date }}</p>
                <ul>
                    <!-- Loop through the details for each experience -->
                    {% for detail in experience.details %}
                    <li>{{ detail }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
      </div>
    </section><!-- End Services Section -->

  </main><!-- End #main -->

  {% endblock %}