{% extends "layout.html" %}
{% block body %}
<title>{{params["title"]}} - Resume</title>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container-fluid d-flex justify-content-between align-items-center">

    <h1 class="logo me-auto me-lg-0"><a href="index">{{params["title"]}}</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a href="home">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a class="active" href="resume">Resume</a></li>
        <li><a href="experiences">Experiences</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    <div class="social-icons">
      <a href="{{params["linkedin_url"]}}" target="_blank" class="linkedin"><img src="{{ url_for('static', filename = 'assets/icons/linkedin.png') }}" alt="LinkedIn"></a>
      <a href="{{params["github_url"]}}" target="_blank" class="github"><img src="{{ url_for('static', filename = 'assets/icons/github.png') }}" alt="GitHub"></a>
      <a href="{{params["twitter_url"]}}" target="_blank" class="twitter"><img src="{{ url_for('static', filename = 'assets/icons/twitter.png') }}" alt="twitter"></a>
      <a href="{{params["instagram_url"]}}" target="_blank" class="instagram"><img src="{{ url_for('static', filename = 'assets/icons/instagram.png') }}" alt="Instagram"></a>
      <a href="{{params["facebook_url"]}}" target="_blank" class="facebook"><img src="{{ url_for('static', filename = 'assets/icons/facebook.png') }}" alt="Facebook"></a>
    </div>

  </div>
<style>
  .container{padding: 30px;}
</style>
</header><!-- End Header -->
  <main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
        </div>
        <div class="container">
          <embed src="{{ url_for('static', filename = 'assets/resume/Amartya_resume.pdf') }}" type="application/pdf" width="100%" height="900px" />
        </div>
      </div>
    </section><!-- End Resume Section -->

  </main><!-- End #main -->

  {% endblock %}