{% extends "layout.html" %}
{% block body %}
<title>Amartya Dey - Resume</title>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container-fluid d-flex justify-content-between align-items-center">

    <h1 class="logo me-auto me-lg-0"><a href="index">Amartya Dey</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a href="index">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a class="active" href="resume">Resume</a></li>
        <li><a href="experiences">Experiences</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    <div class="header-social-links">
      <a href="https://www.linkedin.com/in/amartya-dey-24am/" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      <a href="https://twitter.com/AmartyaDey" class="twitter"><i class="bi bi-twitter"></i></a>
      <a href="https://www.instagram.com/___amartya__/" class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="https://www.facebook.com/amartya.dey.96/" class="facebook"><i class="bi bi-facebook"></i></a>
    </div>

  </div>
<style>
  .container{padding: 30px;}
</style>
</header><!-- End Header -->
  <main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
        </div>
        <div class="container">
          <embed src="{{ url_for('static', filename = 'assets/resume/resume.pdf') }}" type="application/pdf" width="100%" height="900px" />
        </div>
      </div>
    </section><!-- End Resume Section -->

  </main><!-- End #main -->

  {% endblock %}